html,body{
    width: 100%;
    height: 100%;
}
.container-404{
    width: 100%;
    height: 100%;
    background: url("../images/404.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}
.container-401{
    width: 100%;
    height: 100%;
    background: url("../images/401.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}
.box{
    width: 600px;
    height: 40%;
    position: absolute;
    text-align: center;
    bottom:5%;
    margin-left: -300px;
    left:50%
}
.box h2{
    font-size: 22px;
    color: #fff;
    margin-bottom: 20px;
}
.box p{
    color: #b5b7b5;
    font-size: 16px;
    line-height: 1.625;
}
.box p a{
    color: #fff;
}